body {
    background-color:khaki;
    background-image: url(hatter.png);
    color: white;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

p {

    height: 120px;
    width: 140px;
}

table{
    text-align: center;
}

#felirat {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.foto {

    height: 400px;
    width: 400px;

}